a.nav-link {
	text-align: center;  text-decoration: none; color: black; font-weight: 500;/*border: 1px solid darkgray; */}
.navbar-brand {
	font-weight: 600;
	padding-left: 15px;
}
.navbar {background-color: #e3f2fd; border-bottom: 1px solid darkgray; transition: top 0.5s ease;} 
#logo {text-decoration: underline overline orangered;}
.chic {
	background-color: pink; 
}
.beef {
	background-color: 	#A50021;
}
.such {
	background-color: #F8DE7E;
}
h3 {
	width: 42%;
	font-size: 24px;
	font-weight: bold;
	height: 15%;
	margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 6px 15px 2px 15px; /* up right down left */
    /*border: 1px solid black;*/
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    float: right;
    margin-left: 100%;
}
section {background-color: darkgray;border: 1px solid black;
	/*font-family: cursive;*/	
	font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
	position: relative; 
	/*clear: left; mobile*/
	box-sizing: border-box;
	/*padding-right: 3px; 	padding-left: 20px; width: 100%; 	height: 100%;     float: right;*/
	padding-bottom: 10px;
	font-size: 140%;
	margin-bottom: 20px;
	height: 96%;
}
section {clear: left;}
h3 { width: 45%; padding: 3px;}

a#link-back-to-top1 , a#link-back-to-top2 , a#link-back-to-top3 {
 color: orangered !important;
 margin-left: 90%;
 margin-bottom: 2%;
 padding-bottom: 15px;
 margin-right: 2%;
 width: 100%;
 text-decoration: none;
}
a#link-back-to-top1:hover , a#link-back-to-top1:active , a#link-back-to-top2:hover , a#link-back-to-top2:active ,
a#link-back-to-top3:hover , a#link-back-to-top3:active {
    color: #ffb300ed !important;
    transition: color 0.3s !important;
  }
main {
	background-color: rgba(210, 205, 193, 1.0);
	/*color: rgba(28, 70, 149, 1.0);*/
