h1 {width: 100%;text-align: center;}
a.nav-link {
	text-align: center;  text-decoration: none; color: black; /*border: 1px solid darkgray;*/
	box-sizing: border-box;}
* {box-sizing: border-box;}
.chic {
	background-color: pink; 
}
.beef {
	background-color: 	#A50021;

}
.such {
	background-color: #F8DE7E;
}
p{
	width: 42%;
	font-size: 24px;
	font-weight: bold;
	height: 15%;
	margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 6px 15px 2px 15px; /* up right down left */
    /*border: 1px solid black;*/
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    float: right;
    margin-left: 100%;
}

.tab {
	margin-right: 9%;
}


section {background-color: darkgray;border: 1px solid black;
	font-family: cursive;	
	position: relative; 
	/*clear: left; mobile*/
	box-sizing: border-box;
	margin: 3%;
	padding-left: 20px;
	/*padding-right: 3px;*/
	padding-bottom: 20px;
	font-size: 140%;
}
/* desktop */

section {clear: left;}
p { width: 45%; padding: 3px;}
}